body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 50px
}

textarea {
  font-family: Roboto;
  background: transparent;
  border: none;
  resize: none;
  color: #5d7f81;;
  border-left: 1px solid #5d7f81;;
  padding: 20px 15px;
}

.jumbotron {
  text-align: center;
  background-color: #5d7f81;
  color: #d1f779;
  border-radius: 0;
  border-bottom: 10px solid #d1f779;
}

.description{
  white-space: pre-wrap;
  padding: 20px 15px;
  border-top: 1px solid #5d7f81;;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #5d7f81;
  border-top: 1px solid #5d7f81;;
  padding-top: 20px;
  padding-left: 0;
}

.past {
  background-color: #d3d3d3;
  color: #5d7f81;;
}

.present {
  background-color: #ff6961;
  color: #5d7f81;;
}

.future {
  background-color: #77dd77;
  color: #5d7f81;;
}

.saveBtn {
  border-left: 1px solid #5d7f81;;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #5d7f81;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}